* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fafafa;
width: 1440px;
  height: 696px;
}

.gallery {
  list-style: none;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 

}

.gallery-item {
  width: calc(33.33% - 20px);
  margin: 10px;
   box-sizing: border-box;

  }

.gallery-link {
  display: block;
  text-decoration: none;
    width: 360px;
      height: 200px;
}

.gallery-image {
  width: 100%;
  
  height: 100%;
   border-radius: 5px;
}

.gallery-link:hover {
  cursor: url(../css/image/bxs_hand-down.svg), auto;
}